<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ice.test">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".ui.AddNoteActivity" />
        <activity android:name=".ui.AddBookActivity" />
        <activity android:name=".ui.BookInfoActivity" />
        <activity android:name=".ui.NoteInfoActivity" />
        <activity android:name=".ui.AddClassifyActivity" />
        <activity android:name=".ui.VersionInfoActivity" />
        <activity android:name=".ui.TongJiActivity" />
        <activity android:name=".ui.HuiZongActivity" />
        <activity android:name=".ui.ZhuCeActivity"></activity>
    </application>

</manifest>